<h2 class="center">Users Table</h2>
<div class="center">
  <% if (!loggedIn) { %>
  <a class="button" href="/users/signUp">Sign up</a>
  <% } %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th><%= currentUser ? "Edit" : "" %></th>
      <th><%= currentUser ? '' : ' Login' %></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a href="<%=`/users/${user._id}`%>">
          <%= user.fullName %>
        </a>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.zipCode %>
      </td>
      <td>
        <% if (currentUser && user.id === currentUser.id) { %>
        <a href="<%=`/users/${user._id}/edit`%>">
          Edit
        </a>
        <% } %>
      </td>
      <td>
        <% if (currentUser) { %>
        <% } else { %>
         <a href="<%= `/users/login` %>"><p>Login</p></a>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
